VITE_BASE_URL=
VITE_PROJECT_ID=
VITE_CHAIN_NETWORK=
VITE_MAINNET_CHAIN_ID=
VITE_TESTNET_CHAIN_ID=
VITE_STABLE_CONTRACT_ADDRESS=
VITE_NFT_CONTRACT_ADDRESS=
VITE_PRESALE_CONTRACT_ADDRESS=
VITE_PHASE_ID=
VITE_TOKEN_PRICE_LIMIT=
VITE_MOONPAY_API_KEY=
VITE_MOONPAY_PUBLIC_API_KEY=
VITE_METADATA_PUBLIC_URL=